[submodule "KI-B-3-Assistenzsysteme_Bauer"]
	path = KI-B-3-Assistenzsysteme_Bauer
	url = git@github.com:tj0vtj0v/KI-B-3-Assistenzsysteme_Bauer.git
[submodule "KI-B-3-Datenbanken"]
	path = KI-B-3-Datenbanken
	url = git@github.com:tj0vtj0v/KI-B-3-Datenbanken.git
[submodule "KI-B-3-Assistenzsysteme_Garmann"]
	path = KI-B-3-Assistenzsysteme_Garmann
	url = git@github.com:tj0vtj0v/KI-B-3-Assistenzsysteme_Garmann.git
[submodule "KI-B-3-Technikethik_Nachhaltigkeit_Wissenschaftliches-Arbeiten"]
	path = KI-B-3-Technikethik_Nachhaltigkeit_Wissenschaftliches-Arbeiten
	url = git@github.com:timesleep5/KI-B-3-Technikethik_Nachhaltigkeit_Wissenschaftliches-Arbeiten.git
